aif360[DisparateImpactRemover]==0.3.0
joblib==0.15.1
matplotlib==3.2.1
numba==0.48.0
numpy==1.18.5
pandas==1.0.4
plotly==4.8.1
scikit-learn==0.23.1
tensorflow==2.2.0
tqdm==4.46.1
black==19.10b0
black-nb==0.3.0
flake8==3.8.3
flake8-nb==0.1.8
jupyter==1.0.0
jupyter_contrib_nbextensions==0.5.1
nb-filter-cells==0.0.2
nbstripout==0.3.8